* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text: hsl(220 10% 98%);
  --bg-primary: hsl(220 20% 20%);
  --bg-secondary: hsl(220 20% 10%);
  --border: hsl(180 100% 50%);
  --pulse: hsl(9 100% 64%);
}

html,
body {
  height: 100%;
}

body {
  display: grid;
  place-content: center;
  padding: 2rem;
  color: var(--text);
  background-color: var(--bg-primary);
}

h1 {
  font-size: 4rem;
  text-align: center;
  text-transform: capitalize;

  & + button {
    width: max-content;
    margin-block-start: 2rem;
    margin-inline: auto;
  }
}
h2,
p {
  text-align: center;
}

button {
  padding: 1.5rem;
  font-size: 2rem;
  font-weight: 900;
  color: inherit;
  background: none;
  border-radius: 0.5rem;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
}
